In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import plotly.express as px
import plotly
import math
import scipy.stats as stats

In [2]:
connect = sqlite3.connect(r"C:\Users\seans\Desktop\CS 360 - Final Project\data.sqlite3")

In [3]:
# get artists data
artists_query = '''
SELECT *
FROM artists
'''
artists_df = pd.read_sql_query(artists_query, connect)

In [4]:
# get reviews data
reviews_query = '''
SELECT *
FROM reviews
'''
reviews_df = pd.read_sql_query(reviews_query, connect)

In [5]:
# get scores data
scores_query = '''
SELECT *
FROM tombstones
'''
scores_df = pd.read_sql_query(scores_query, connect)

In [6]:
# get genre data
genre_query = '''
SELECT *
FROM genre_review_map
'''
genre_df = pd.read_sql_query(genre_query, connect)

In [13]:
# get artist map data
artist_map_query = '''
SELECT * 
FROM artist_review_map
'''

artist_mapdf = pd.read_sql_query(artist_map_query, connect)

In [56]:
# get genre map data
genre_query = '''
SELECT * 
FROM genre_review_map
'''

genre_df = pd.read_sql_query(genre_query, connect)

In [14]:
artist_mapdf

,review_url,artist_id
0,/reviews/albums/9232-vesikansi/,4847-avarus
1,/reviews/albums/22823-elsewhere/,33420-pinegrove
2,/reviews/albums/4703-le-tigre/,2438-le-tigre
3,/reviews/albums/21978-stranger-to-stranger/,4158-paul-simon
4,/reviews/albums/11996-everyone-is-crying-out-t...,4117-alina-simone
...,...,...
24974,/reviews/albums/bruiser-wolf-dope-game-stupid/,bruiser-wolf
24975,/reviews/albums/21975-angry-angles/,33542-angry-angles
24976,/reviews/albums/2607-loose-lips-sink-ships/,various-various-artists
24977,/reviews/albums/the-lemonheads-lovey/,4936-the-lemonheads
24978,/reviews/albums/13531-all-the-pleasures-of-the...,5223-the-crayon-fields

In [7]:
artists_df

                artist_id           name                    artist_url
0             4847-avarus         Avarus         /artists/4847-avarus/
1         33420-pinegrove      Pinegrove     /artists/33420-pinegrove/
2           2438-le-tigre       Le Tigre       /artists/2438-le-tigre/
3         4158-paul-simon     Paul Simon     /artists/4158-paul-simon/
4       4117-alina-simone   Alina Simone   /artists/4117-alina-simone/
...                   ...            ...                           ...
11008         33868-nottz          Nottz         /artists/33868-nottz/
11009     29248-hilly-eye      Hilly Eye     /artists/29248-hilly-eye/
11010       pom-pom-squad  Pom Pom Squad       /artists/pom-pom-squad/
11011        bruiser-wolf   Bruiser Wolf        /artists/bruiser-wolf/
11012  33542-angry-angles   Angry Angles  /artists/33542-angry-angles/

[11013 rows x 3 columns]

In [8]:
reviews_df

,review_url,is_standard_review,pub_date,body
0,/reviews/albums/9232-vesikansi/,1,2006-07-27 06:00:04,"Over the past few years, several of Finland's ..."
1,/reviews/albums/22823-elsewhere/,1,2017-01-27 06:00:00,It's hard not to root for Pinegrove. Even befo...
2,/reviews/albums/4703-le-tigre/,1,1999-10-26 05:00:03,Kathleen Hanna is best known as the former lea...
3,/reviews/albums/21978-stranger-to-stranger/,1,2016-06-09 05:00:00,Of all the baby-boomer heroes to make it past ...
4,/reviews/albums/11996-everyone-is-crying-out-t...,1,2008-07-23 06:00:05,Yanka Dyagileva was a Russian poet and punk/fo...
...,...,...,...,...
24164,/reviews/albums/bruiser-wolf-dope-game-stupid/,1,2021-04-08 04:00:00,"In his book Pimp: The Story of My Life, author..."
24165,/reviews/albums/21975-angry-angles/,1,2016-06-01 05:00:00,Angry Angles captured Jay Reatard at a pivotal...
24166,/reviews/albums/2607-loose-lips-sink-ships/,1,2005-05-15 05:00:01,"Male-female duos are nothing new in rock, but ..."
24167,/reviews/albums/the-lemonheads-lovey/,1,2020-10-30 05:00:00,Just as Evan Dando's long relationship with su...
24168,/reviews/albums/13531-all-the-pleasures-of-the...,1,2009-10-14 06:00:03,New indie development: Tweemo wimps are gettin...

In [9]:
scores_df

,review_tombstone_id,review_url,picker_index,title,score,best_new_music,best_new_reissue
0,/reviews/albums/9232-vesikansi/-0,/reviews/albums/9232-vesikansi/,0,Vesikansi,7.1,0.0,NaN
1,/reviews/albums/22823-elsewhere/-0,/reviews/albums/22823-elsewhere/,0,Elsewhere,7.5,0.0,0.0
2,/reviews/albums/4703-le-tigre/-0,/reviews/albums/4703-le-tigre/,0,Le Tigre,8.5,NaN,NaN
3,/reviews/albums/21978-stranger-to-stranger/-0,/reviews/albums/21978-stranger-to-stranger/,0,Stranger to Stranger,7.2,0.0,0.0
4,/reviews/albums/11996-everyone-is-crying-out-t...,/reviews/albums/11996-everyone-is-crying-out-t...,0,"Everyone Is Crying Out to Me, Beware",7.4,0.0,NaN
...,...,...,...,...,...,...,...
25207,/reviews/albums/bruiser-wolf-dope-game-stupid/-0,/reviews/albums/bruiser-wolf-dope-game-stupid/,0,Dope Game Stupid,7.6,0.0,0.0
25208,/reviews/albums/21975-angry-angles/-0,/reviews/albums/21975-angry-angles/,0,Angry Angles,7.6,0.0,0.0
25209,/reviews/albums/2607-loose-lips-sink-ships/-0,/reviews/albums/2607-loose-lips-sink-ships/,0,Loose Lips Sink Ships,7.2,0.0,NaN
25210,/reviews/albums/the-lemonheads-lovey/-0,/reviews/albums/the-lemonheads-lovey/,0,Lovey,7.4,0.0,0.0
25211,/reviews/albums/13531-all-the-pleasures-of-the...,/reviews/albums/13531-all-the-pleasures-of-the...,0,All the Pleasures of the World,7.8,0.0,0.0

In [15]:
# create new data from queries

# need list of columns 
# 'name','artist_id' from artists_df
# 'review_url', 'pub_date' from reviews
# 'title' 'score' from scores_df

In [41]:
mergedf

,artist_id,name,artist_url,review_url
0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/
1,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/
2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/
3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/
4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-marigold/
...,...,...,...,...
24974,33868-nottz,Nottz,/artists/33868-nottz/,/reviews/albums/22171-titans-in-the-flesh/
24975,29248-hilly-eye,Hilly Eye,/artists/29248-hilly-eye/,/reviews/albums/17536-reasons-to-live/
24976,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...
24977,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/
24978,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/

In [44]:
mergedf['pub_date'] = reviews_df['pub_date']

In [46]:
mergedf = mergedf.drop(columns=['pub_date'])

In [48]:
mergedf = mergedf.merge(scores_df, on='review_url')

In [49]:
mergedf

,artist_id,name,artist_url,review_url,review_tombstone_id,picker_index,title,score,best_new_music,best_new_reissue
0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,/reviews/albums/9232-vesikansi/-0,0,Vesikansi,7.1,0.0,NaN
1,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,/reviews/albums/22823-elsewhere/-0,0,Elsewhere,7.5,0.0,0.0
2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,/reviews/albums/pinegrove-skylight/-0,0,Skylight,7.5,0.0,0.0
3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,/reviews/albums/21507-cardinal/-0,0,Cardinal,8.0,0.0,0.0
4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-marigold/,/reviews/albums/pinegrove-marigold/-0,0,Marigold,6.6,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
26031,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,/reviews/albums/13032-modern-silence/-0,0,Modern Silence,5.4,0.0,0.0
26032,29248-hilly-eye,Hilly Eye,/artists/29248-hilly-eye/,/reviews/albums/17536-reasons-to-live/,/reviews/albums/17536-reasons-to-live/-0,0,Reasons to Live,6.1,0.0,0.0
26033,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,/reviews/albums/various-artists-death-of-a-che...,0,Death of a Cheerleader,6.9,0.0,0.0
26034,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,/reviews/albums/bruiser-wolf-dope-game-stupid/-0,0,Dope Game Stupid,7.6,0.0,0.0
26035,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,/reviews/albums/21975-angry-angles/-0,0,Angry Angles,7.6,0.0,0.0

In [52]:
mergedf = mergedf.merge(reviews_df, on='review_url')

In [53]:
mergedf

,artist_id,name,artist_url,review_url,review_tombstone_id,picker_index,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,body
0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,/reviews/albums/9232-vesikansi/-0,0,Vesikansi,7.1,0.0,NaN,1,2006-07-27 06:00:04,"Over the past few years, several of Finland's ..."
1,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,/reviews/albums/22823-elsewhere/-0,0,Elsewhere,7.5,0.0,0.0,1,2017-01-27 06:00:00,It's hard not to root for Pinegrove. Even befo...
2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,/reviews/albums/pinegrove-skylight/-0,0,Skylight,7.5,0.0,0.0,1,2018-09-29 05:00:00,"A year ago, it looked like Pinegrove's next mo..."
3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,/reviews/albums/21507-cardinal/-0,0,Cardinal,8.0,0.0,0.0,1,2016-02-10 06:00:01,"Montclair, N.J. band Pinegrove's debut LP Card..."
4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-marigold/,/reviews/albums/pinegrove-marigold/-0,0,Marigold,6.6,0.0,0.0,1,2020-01-22 06:00:00,Pinegrove arrived on a promise of deep persona...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26031,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,/reviews/albums/13032-modern-silence/-0,0,Modern Silence,5.4,0.0,0.0,1,2009-05-14 06:00:04,Some overlong records practically beg the list...
26032,29248-hilly-eye,Hilly Eye,/artists/29248-hilly-eye/,/reviews/albums/17536-reasons-to-live/,/reviews/albums/17536-reasons-to-live/-0,0,Reasons to Live,6.1,0.0,0.0,1,2013-01-18 06:00:03,"On Reasons to Live, the full-length debut by t..."
26033,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,/reviews/albums/various-artists-death-of-a-che...,0,Death of a Cheerleader,6.9,0.0,0.0,1,2021-06-30 04:00:00,"In 1999, a satirical comedy film called But I'..."
26034,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,/reviews/albums/bruiser-wolf-dope-game-stupid/-0,0,Dope Game Stupid,7.6,0.0,0.0,1,2021-04-08 04:00:00,"In his book Pimp: The Story of My Life, author..."
26035,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,/reviews/albums/21975-angry-angles/-0,0,Angry Angles,7.6,0.0,0.0,1,2016-06-01 05:00:00,Angry Angles captured Jay Reatard at a pivotal...

In [54]:
cleandf = mergedf.drop(columns=['picker_index','review_tombstone_id','body'])

In [55]:
cleandf

,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date
0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1,2006-07-27 06:00:04
1,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1,2017-01-27 06:00:00
2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1,2018-09-29 05:00:00
3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1,2016-02-10 06:00:01
4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-marigold/,Marigold,6.6,0.0,0.0,1,2020-01-22 06:00:00
...,...,...,...,...,...,...,...,...,...,...
26031,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1,2009-05-14 06:00:04
26032,29248-hilly-eye,Hilly Eye,/artists/29248-hilly-eye/,/reviews/albums/17536-reasons-to-live/,Reasons to Live,6.1,0.0,0.0,1,2013-01-18 06:00:03
26033,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1,2021-06-30 04:00:00
26034,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1,2021-04-08 04:00:00
26035,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1,2016-06-01 05:00:00

In [57]:
cleandf = cleandf.merge(genre_df, on='review_url')

In [58]:
cleandf

,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,genre
0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1,2006-07-27 06:00:04,Experimental
1,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1,2006-07-27 06:00:04,Rock
2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1,2017-01-27 06:00:00,Rock
3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1,2018-09-29 05:00:00,Rock
4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1,2016-02-10 06:00:01,Rock
...,...,...,...,...,...,...,...,...,...,...,...
28583,32955-belly,Belly,/artists/32955-belly/,/reviews/albums/belly-dove/,DOVE,7.2,0.0,0.0,1,2018-05-08 05:00:00,Rock
28584,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1,2009-05-14 06:00:04,Rock
28585,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1,2021-06-30 04:00:00,Rock
28586,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1,2021-04-08 04:00:00,Rap
28587,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1,2016-06-01 05:00:00,Rock

In [59]:
# write clean df to csv
cleandf = cleandf.reset_index()

In [60]:
cleandf.to_csv('Pitchfork Music Reviews Draft.csv', header=True, index=False)

In [61]:
cleandf['genre'].value_counts()

Rock            12117
Electronic       5099
Experimental     2913
Rap              2760
Pop/R&B          2366
Folk/Country     1128
Metal            1097
Jazz              801
Global            307
Name: genre, dtype: int64

In [64]:
# reload df 
df = pd.read_csv(r"C:\Users\seans\Desktop\CS 360 - Final Project\Pitchfork Music Reviews Draft.csv")

In [65]:
df

,index,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,genre,Unnamed: 12
0,0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Experimental,NaN
1,1,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Rock,NaN
2,2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1.0,2017-01-27 06:00:00,Rock,NaN
3,3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1.0,2018-09-29 05:00:00,Rock,NaN
4,4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1.0,2016-02-10 06:00:01,Rock,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28583,28583,32955-belly,Belly,/artists/32955-belly/,/reviews/albums/belly-dove/,DOVE,7.2,0.0,0.0,1.0,2018-05-08 05:00:00,Rock,NaN
28584,28584,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1.0,2009-05-14 06:00:04,Rock,NaN
28585,28585,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1.0,2021-06-30 04:00:00,Rock,NaN
28586,28586,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1.0,2021-04-08 04:00:00,Rap,NaN
28587,28587,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1.0,2016-06-01 05:00:00,Rock,NaN

In [71]:
df['year'] = df['year'].str.split("-").str.get(0)

In [72]:
df

,index,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,genre,Unnamed: 12,year
0,0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Experimental,NaN,2006
1,1,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Rock,NaN,2006
2,2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1.0,2017-01-27 06:00:00,Rock,NaN,2017
3,3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1.0,2018-09-29 05:00:00,Rock,NaN,2018
4,4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1.0,2016-02-10 06:00:01,Rock,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28583,28583,32955-belly,Belly,/artists/32955-belly/,/reviews/albums/belly-dove/,DOVE,7.2,0.0,0.0,1.0,2018-05-08 05:00:00,Rock,NaN,2018
28584,28584,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1.0,2009-05-14 06:00:04,Rock,NaN,2009
28585,28585,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1.0,2021-06-30 04:00:00,Rock,NaN,2021
28586,28586,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1.0,2021-04-08 04:00:00,Rap,NaN,2021
28587,28587,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1.0,2016-06-01 05:00:00,Rock,NaN,2016

In [73]:
df.to_csv('Pitchfork Music Reviews Draft 2.csv', header=True, index=False)

In [7]:
df = pd.read_csv(r"C:\Users\seans\Desktop\CS 360 - Final Project\Pitchfork Music Reviews Draft 2.csv")

In [8]:
df

,index,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,genre,Unnamed: 12,year
0,0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Experimental,NaN,2006
1,1,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Rock,NaN,2006
2,2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1.0,2017-01-27 06:00:00,Rock,NaN,2017
3,3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1.0,2018-09-29 05:00:00,Rock,NaN,2018
4,4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1.0,2016-02-10 06:00:01,Rock,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28583,28583,32955-belly,Belly,/artists/32955-belly/,/reviews/albums/belly-dove/,DOVE,7.2,0.0,0.0,1.0,2018-05-08 05:00:00,Rock,NaN,2018
28584,28584,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1.0,2009-05-14 06:00:04,Rock,NaN,2009
28585,28585,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1.0,2021-06-30 04:00:00,Rock,NaN,2021
28586,28586,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1.0,2021-04-08 04:00:00,Rap,NaN,2021
28587,28587,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1.0,2016-06-01 05:00:00,Rock,NaN,2016

In [9]:
# find the average score for each year of publication
df.dtypes

index                   int64
artist_id              object
name                   object
artist_url             object
review_url             object
title                  object
score                 float64
best_new_music        float64
best_new_reissue      float64
is_standard_review    float64
pub_date               object
genre                  object
Unnamed: 12           float64
year                    int64
dtype: object

In [13]:
avg_score_per_year = df[['year','score']]

In [14]:
avg_score_per_year

       year  score
0      2006    7.1
1      2006    7.1
2      2017    7.5
3      2018    7.5
4      2016    8.0
...     ...    ...
28583  2018    7.2
28584  2009    5.4
28585  2021    6.9
28586  2021    7.6
28587  2016    7.6

[28588 rows x 2 columns]

In [15]:
avg_score_per_year = avg_score_per_year.groupby(avg_score_per_year.year).mean()

In [17]:
avg_score_per_year = avg_score_per_year.reset_index()

In [18]:
avg_score_per_year

    year     score
0   1999  6.781022
1   2000  6.864368
2   2001  7.186252
3   2002  6.886460
4   2003  6.977255
5   2004  7.213247
6   2005  7.055308
7   2006  7.010569
8   2007  6.842737
9   2008  6.886312
10  2009  6.809377
11  2010  6.948810
12  2011  7.030034
13  2012  7.033258
14  2013  7.047422
15  2014  7.122837
16  2015  7.135375
17  2016  7.320785
18  2017  7.332915
19  2018  7.239002
20  2019  7.306473
21  2020  7.339233
22  2021  7.316396

In [19]:
# print out average score per year
avg_score_per_year.to_csv('Pitchfork Average Score Per Year.csv', header=True, index=False)

In [34]:
year_counts = df['year'].copy()

In [35]:
year_counts = year_counts.value_counts().to_frame()

In [36]:
year_counts

      year
2016  1554
2006  1495
2011  1485
2008  1483
2005  1479
2004  1472
2010  1471
2009  1461
2017  1434
2007  1432
2018  1423
2020  1356
2019  1344
2012  1329
2003  1319
2015  1241
2021  1232
2013  1183
2014  1121
2002  1034
2001   531
2000   435
1999   274

In [39]:
type(year_counts)

pandas.core.frame.DataFrame

In [40]:
year_counts.to_csv('Publication Year Total Counts.csv', header=True,index=True)

In [41]:
df['genre'].value_counts()

Rock            12117
Electronic       5099
Experimental     2913
Rap              2760
Pop/R&B          2366
Folk/Country     1128
Metal            1097
Jazz              801
Global            307
Name: genre, dtype: int64

In [43]:
avg_score_per_genre = df['genre','year']

In [44]:
avg_score_per_genre = avg_score_per_genre.groupby(avg_score_per_genre.genre).mean()

In [45]:
avg_score_per_genre

                 score
genre
Electronic    7.027045
Experimental  7.393786
Folk/Country  7.248936
Global        7.556678
Jazz          7.464669
Metal         7.055515
Pop/R&B       6.987489
Rap           6.961087
Rock          7.040596

In [46]:
avg_score_per_genre = avg_score_per_genre.reset_index()

In [47]:
avg_score_per_genre

          genre     score
0    Electronic  7.027045
1  Experimental  7.393786
2  Folk/Country  7.248936
3        Global  7.556678
4          Jazz  7.464669
5         Metal  7.055515
6       Pop/R&B  6.987489
7           Rap  6.961087
8          Rock  7.040596

In [48]:
avg_score_per_genre.to_csv('Pitchfork Average Score Per Genre.csv', header=True, index=False)

In [49]:
genre_trend_over_time = df[['genre','score','pub_date','year']].copy()

In [50]:
genre_trend_over_time

              genre  score             pub_date  year
0      Experimental    7.1  2006-07-27 06:00:04  2006
1              Rock    7.1  2006-07-27 06:00:04  2006
2              Rock    7.5  2017-01-27 06:00:00  2017
3              Rock    7.5  2018-09-29 05:00:00  2018
4              Rock    8.0  2016-02-10 06:00:01  2016
...             ...    ...                  ...   ...
28583          Rock    7.2  2018-05-08 05:00:00  2018
28584          Rock    5.4  2009-05-14 06:00:04  2009
28585          Rock    6.9  2021-06-30 04:00:00  2021
28586           Rap    7.6  2021-04-08 04:00:00  2021
28587          Rock    7.6  2016-06-01 05:00:00  2016

[28588 rows x 4 columns]

In [51]:
genre_trend_over_time.to_csv('Genre Score Trends Over Time.csv', header=True, index=False)

In [2]:
df = pd.read_csv(r'C:\Users\seans\Desktop\CS 360 - Final Project\Pitchfork Music Reviews Draft 2.csv')

In [5]:
# shape of cleaned dataframe before removing data on music reviews for reissues is
# (28588, 14)
df.shape

(28588, 14)

In [6]:
df.columns

Index(['index', 'artist_id', 'name', 'artist_url', 'review_url', 'title',
       'score', 'best_new_music', 'best_new_reissue', 'is_standard_review',
       'pub_date', 'genre', 'Unnamed: 12', 'year'],
      dtype='object')

In [7]:
df_noreissues = df[df['is_standard_review'] != 0]

In [9]:
# shape after removal of reviews on reissues
df_noreissues.shape

(25263, 14)

In [10]:
# 28588 - 25263 = 3325 revies removed

3325

In [17]:
df_noreissues.to_csv('Pitchfork Review Data Omitted Reissues.csv', header=True,index=False)

In [12]:
df_noreissues

,index,artist_id,name,artist_url,review_url,title,score,best_new_music,best_new_reissue,is_standard_review,pub_date,genre,Unnamed: 12,year
0,0,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Experimental,NaN,2006
1,1,4847-avarus,Avarus,/artists/4847-avarus/,/reviews/albums/9232-vesikansi/,Vesikansi,7.1,0.0,NaN,1.0,2006-07-27 06:00:04,Rock,NaN,2006
2,2,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/22823-elsewhere/,Elsewhere,7.5,0.0,0.0,1.0,2017-01-27 06:00:00,Rock,NaN,2017
3,3,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/pinegrove-skylight/,Skylight,7.5,0.0,0.0,1.0,2018-09-29 05:00:00,Rock,NaN,2018
4,4,33420-pinegrove,Pinegrove,/artists/33420-pinegrove/,/reviews/albums/21507-cardinal/,Cardinal,8.0,0.0,0.0,1.0,2016-02-10 06:00:01,Rock,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28583,28583,32955-belly,Belly,/artists/32955-belly/,/reviews/albums/belly-dove/,DOVE,7.2,0.0,0.0,1.0,2018-05-08 05:00:00,Rock,NaN,2018
28584,28584,27785-casper-the-cookies,Casper & the Cookies,/artists/27785-casper-the-cookies/,/reviews/albums/13032-modern-silence/,Modern Silence,5.4,0.0,0.0,1.0,2009-05-14 06:00:04,Rock,NaN,2009
28585,28585,pom-pom-squad,Pom Pom Squad,/artists/pom-pom-squad/,/reviews/albums/various-artists-death-of-a-che...,Death of a Cheerleader,6.9,0.0,0.0,1.0,2021-06-30 04:00:00,Rock,NaN,2021
28586,28586,bruiser-wolf,Bruiser Wolf,/artists/bruiser-wolf/,/reviews/albums/bruiser-wolf-dope-game-stupid/,Dope Game Stupid,7.6,0.0,0.0,1.0,2021-04-08 04:00:00,Rap,NaN,2021
28587,28587,33542-angry-angles,Angry Angles,/artists/33542-angry-angles/,/reviews/albums/21975-angry-angles/,Angry Angles,7.6,0.0,0.0,1.0,2016-06-01 05:00:00,Rock,NaN,2016

In [13]:
avg_score_per_year = df_noreissues[['year','score']]

In [14]:
avg_score_per_year = avg_score_per_year.groupby(avg_score_per_year.year).mean()

In [15]:
avg_score_per_year = avg_score_per_year.reset_index()

In [16]:
avg_score_per_year

    year     score
0   1999  6.781022
1   2000  6.868085
2   2001  7.155382
3   2002  6.801955
4   2003  6.918144
5   2004  7.147937
6   2005  6.985136
7   2006  6.926328
8   2007  6.773830
9   2008  6.839588
10  2009  6.663523
11  2010  6.860577
12  2011  6.918256
13  2012  6.882082
14  2013  6.964695
15  2014  6.977268
16  2015  7.041953
17  2016  7.090534
18  2017  7.128390
19  2018  7.101309
20  2019  7.150337
21  2020  7.201757
22  2021  7.224147

In [18]:
# print out average score per year
avg_score_per_year.to_csv('Pitchfork Average Score Per Year.csv', header=True, index=False)

In [26]:
avg_score_per_genre = df_noreissues[['genre','score']]

In [27]:
avg_score_per_genre

              genre  score
0      Experimental    7.1
1              Rock    7.1
2              Rock    7.5
3              Rock    7.5
4              Rock    8.0
...             ...    ...
28583          Rock    7.2
28584          Rock    5.4
28585          Rock    6.9
28586           Rap    7.6
28587          Rock    7.6

[25263 rows x 2 columns]

In [28]:
avg_score_per_genre = avg_score_per_genre.groupby(avg_score_per_genre.genre).mean()

In [29]:
avg_score_per_genre = avg_score_per_genre.reset_index()

In [30]:
avg_score_per_genre

          genre     score
0    Electronic  6.954180
1  Experimental  7.311133
2  Folk/Country  7.201074
3        Global  7.352282
4          Jazz  7.328593
5         Metal  6.985219
6       Pop/R&B  6.844498
7           Rap  6.903602
8          Rock  6.895635

In [31]:
avg_score_per_genre.to_csv('Pitchfork Average Score Per Genre.csv', header=True, index=False)

In [32]:
genre_trend_over_time = df_noreissues[['genre','score','pub_date','year']].copy()

In [34]:
genre_trend_over_time.to_csv('Genre Score Trends Over Time.csv', header=True, index=False)